#main {
  background: rgb(0, 0, 0);
  // max-width: 1160px;
  margin-left: 185px;

  #contents {
    h2 {
      margin-bottom: 10px;

      em {
        color: #ea3323;
      }
    }

    .search {
      /* width: 80%; */
      padding: 10px 0;
      position: relative;
      text-align: center;

      input{
        border-radius: 100px;
        padding: 10px;
        border: 1px solid #202020;
        background: #000000b3;
        backdrop-filter: blur(15px);
        -webkit-backdrop-filter: blur(15px);
      }
    }
  }
}

.videos__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  > div {
    width: 24%;
    margin-bottom: 1%;
    height: 400px;
    background: #fff;
  }
}
